<section class="h-full min-h-0 w-full min-w-0">
  <%= render "dashboard/chat_panel",
    person: @person,
    chat: @chat,
    message: @message,
    context_preview: @chat_context_preview,
    card_classes: "h-full min-h-0",
    show_context_preview: false %>
</section>
