<%= turbo_frame_tag "entries_list" do %>
  <% if entries.any? %>
    <%= render "entries/grouped_list", entries: entries %>
  <% else %>
    <div class="rounded-3xl border border-dashed border-white/20 bg-white/5 px-6 py-10 text-center text-slate-300">
      <%= t("baby.log.empty") %>
    </div>
  <% end %>
<% end %>
