<div>
  <% grouped_entries_by_day(entries).each do |date, day_entries| %>
    <% day_entries.each_with_index do |entry, index| %>
      <div class="border-t border-slate-100 first:border-t-0" data-log-date="<%= date.iso8601 %>">
        <%= render "entries/entry", entry: entry, grouped: true, show_date: index == 0, date: date %>
      </div>
    <% end %>
  <% end %>
</div>
