<div id="overview_baby_activity_<%= type %>" class="rounded-[2rem] border border-slate-200 bg-slate-950 p-6 text-white shadow-sm ring-1 ring-black/5 <%= local_assigns[:card_classes] || chart_widget_card_classes %>">
  <section class="flex h-full flex-col rounded-[1.5rem] border border-white/10 bg-white/5 p-4">
    <%= render "shared/baby_activity_chart", person: person, type: type %>
  </section>
</div>
