<section class="space-y-6">
  <% if @section == "db_table" && @database_table %>
    <%= render "dashboard/db_table", table: @database_table %>
  <% elsif @section == "db" %>
    <%= render "dashboard/db_overview" %>
  <% elsif @section == "users" %>
    <%= render "settings/users", people: @people, person: @person %>
  <% elsif @section.in?(["llm", "llm_prompt", "llm_prompt_preview"]) %>
    <%= render "settings/llm" %>
  <% end %>
</section>
